
.jumbotron {
    margin: 0;

}

.shrink {
  font-size: 1em;
}



h2{
    font-size: 1.4rem;
    
}  


header {
  margin: 0;
}

footer {
  align-items: center;
}

.masthead {
  height: 90vh;
  min-height: 500px;
  background-image: url('/images/mike-kenneally-tNALoIZhqVM-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutSection {
  height: 100vh;
  min-height: 500px;
  background-image: url('/images/shop2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-width: thick;
}



#hours li {
  padding: 6px;
  ;
}

.map-container-5{
overflow:hidden;
padding-bottom:56.25%;


}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#menuSection {
    height: 100vh;
  min-height: 500px;
  background-image: url('/images/jazmin-quaynor-9Y8vxVQN4o4-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-width: thick;
}

.main {
  font-family: 'Amatic SC', cursive; font-stretch: wider;

}

h1 {
  font-size: 6em;
}


 .carousel-item .img-fluid {
width:100%;
height:100%;
}

.bolderer {
  font-weight: bolder;
}

tr td {
  color: white;
}

body {
  background-color: rgb(7, 6, 6);
  

}

ul {
  text-align: center;
  list-style: inside;
}

nav {
  background-color: black;
}



p {
  font-weight: bolder ;
}